@model IEnumerable<E_Comm.Models.Product>

@{
    ViewData["Title"] = "Products";
}

<h1>Products</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.p_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.p_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company_name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.p_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.p_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Company_name)
            </td>
            <td>
                @Html.ActionLink("AddToCart", "AddToCart", new { id=item.p_Id }) |
                @Html.ActionLink("ViewProductsFromCart", "AddToCart", new { id=item.p_Id })

               
            </td>
        </tr>
}
    </tbody>
</table>
